body {
    margin: auto;
    background-image: url('images/image-asset.jpeg');
    background-size: cover;
}

#number-guess, #history {
    width: 400px;
    margin: 0 auto;
}

  
.side-title {
    margin: 60px;
    color: black;
    font-size: 50px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-row, .buttons{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.input-row, #history {
    margin-top: 40px;
}

#number-submit, #restart-game {
    margin: 10px;
}

.row {
    color: black;
    border-radius: 5px;
    text-align: center;
}

.card {
    background-color: cadetblue;
}

#result {
    width: 770px;
    padding: 10px;
    padding-left: 45px;
    align-items: flex-start;
    
}

/* this is for the scrollbar */
/* #historyScrollbar {
    padding-top: 10px;
    overflow-y: scroll;
    scrollbar-color: red green;
    max-height: 300px;
    border-radius: 5px;
}

#historyScrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#historyScrollbar::-webkit-scrollbar
{   padding-top: 10px;
    
	width: 12px;
	background-color: #F5F5F5;
}

#historyScrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
} */



